<h1>Courses</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
  {{#each courses as |course|}}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{course.name}}</h5>
        <p class="card-text">{{course.type}}</p>
        <a class="btn btn-primary" href="/courses/{{course.id}}" role="button">Ver más</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>