<h1>Create a city</h1>

<form action="/cities" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Name of the city</label>
    <input type="text" value="{{city.name}}" class="form-control {{#if error}}is-invalid{{/if}}" id="name" name="name">
    {{#if error}}
      <div class="invalid-feedback">
        {{error}}
      </div>
    {{/if}}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>